body {
    max-width: 900px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    color: #0e172c;
    background-color: #faeee7;
}

.header {
    margin-inline-start: 16px;
}

.heading {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #d9d4e7;
}

.container {
    background-color: #fec7d7;
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
}

.headingContainer {
    display: grid;
    grid-template-columns: auto auto auto;
}

.headingContainer > p:nth-of-type(2) {
    text-align: end;
}

.headingContainer > p {
    margin-block-start: 20px;
}

.subHeading {
    font-size: 24px;
}

b {
    font-size: 20px;
}


.name {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    font-weight: 700;
}
